body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   animation: animate-fade-in 10ms linear 0ms 1000 reverse both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer1
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
}
#MediaPlayer1
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #000000;
   border-radius: 0px;
}
#wb_Image1
{
   position: absolute;
   left: 68px;
   top: 19px;
   width: 217px;
   height: 359px;
   z-index: 0;
}
#Layer1
{
   position: absolute;
   text-align: left;
   left: 0px;
   top: 0px;
   width: 365px;
   height: 604px;
   z-index: 3;
}
#typewriter
{
   color: #FF0000;
   font-size: 16px;
   font-family: "Arial";
   font-weight: normal;
   font-style: normal;
   text-align: left;
   text-decoration: none;
}
#wb_JavaScript1
{
   position: absolute;
   left: 23px;
   top: 34px;
   width: 63px;
   height: 412px;
   z-index: 1;
}
#wb_MediaPlayer1
{
   position: absolute;
   left: 106px;
   top: 278px;
   width: 179px;
   height: 100px;
   z-index: 2;
}
@media only screen and (max-width: 356px) and (orientation: portrait)
{
body
{
   background-color: #000000;
   background-image: none;
}
#Layer1
{
   left: 0px;
   top: 0px;
   width: 359px;
   height: 613px;
   visibility: visible;
   display: block;
}
}
